@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

// Colors
$white: #fff;
$black: #000;
$green: #7CBD1E;
$light-green: #B5FE83;
$yellow: #FFE61B;

//fonts
$principal-font: 'Raleway',
sans-serif;