@import './variables';

.nav__header {
  padding: .5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    .nav__link {
      .nav__img {
        display: none;
        border-radius: 50%;
        height: 5rem;
        border: .125rem solid transparent;
        transition: .125s ease-out;

        &:hover {
          border-color: $yellow;
        }
      }
    }

    .nav__orders__link {
      background: $grey;
      padding: .3rem .6rem;
      border-radius: $border-radius;
    }
  }

  .nav__logOut {
    cursor: pointer;
    color: $white;
    background: $dark-red;
    padding: .8rem;
    border-radius: $border-radius;
    transition: .125s ease-out;

    &:hover {
      background: $light-red;
    }
  }
}

@media (width > 425px) {
  .nav__header {
    .nav {
      gap: 1rem;

      .nav__link {
        .nav__img {
          display: block;
        }
      }
    }
  }
}

@media (width > 768px) {
  .nav__header {
    .nav {
      gap: 2rem;

      .nav__link {
        .nav__img {
          height: 6rem;
        }
      }

      .nav__orders__link {
        font-size: 1.2em;
      }
    }
  }
}