@import './variables';

.table__container {
  width: 100%;

  .table__caption {
    font-weight: bold;
    font-size: 1.3em;
    background: $white;
    padding: .5rem 0;
    margin: .3rem;
  }

  .table__tbody {
    background: $white;

    .table__tr {
      border: .4rem solid $grey;

      .table__th {
        text-align: left;
      }

      .table__td {
        text-align: right;
      }

      .table__td,
      .table__th {
        padding: .7rem;
      }
    }
  }
}